*.pyc
*.class
todo
*.egg-info
tp
test*.py
*journal
tests
dist
build
.idea
.tox

data/
data/*
data

migrations/

integrity.py
config.conf
poetry.lock
.venv
accounts_unblocked.txt
t_import.py
test_gp.py
teste.py
great_conversation.py
.env
accounts.txt
*.vcf
maturation.py
*.log
test.py
unique.py
*.db
export.py
l.py