# Incluir todos os arquivos de dados do diretório data (incluindo .argo, .json, etc)
graft zowsuplib/data

# Incluir arquivos proto
recursive-include zowsuplib/proto *.proto

# Incluir arquivos de configuração do consonance
recursive-include zowsuplib/consonance/proto *.proto
recursive-include zowsuplib/consonance/config/templates *.json

